header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: grid;
    width: 90vw;
    height: 100vh;
    margin: auto;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(2, 1fr);
}

.box {
    display: block;
    padding: 20px;
    border: 5px solid #DCDCDC;
    margin: 10px;
    min-height: 180px;
}

.container h4 {
    margin-top: 5px;
    color: blue;
}

.container h2 {
    margin-bottom: -20px;
}

.container p {
    margin-top: -20px;
    margin-bottom: 30px;
}

#design h4 {
    color: green;
}

#design p {
    margin-bottom: 15px;
}

footer {
    background-color: #DCDCDC;
    text-align: center;
}