@import "shared-stype.css";
@import "mobile-style.css";
@import "post-style.css";
@import "post-content.css";

.main-container {
    display: grid;
    width: 90vw;
    height: 100vh;
    margin: auto;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(2, 1fr);
}

.main-container h4 {
    margin-top: 5px;
    color: blue;
}

.main-container h2 {
    margin-bottom: -20px;
}

.main-container p {
    margin-top: -20px;
    margin-bottom: 30px;
}

#design h4 {
    color: green;
}

#design p {
    margin-bottom: 15px;
}

