header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas:
        "cont cont ab"
        "cont cont ar"
        "cont cont els"
        "cont cont .";
}


.box {
    display: block;
    padding: 20px;
    border: 5px solid #DCDCDC;
    margin: 10px;
    min-height: 180px;
}


.content {
    grid-area: cont;
}

.content h1 {
    margin-bottom: -10px;
}

.content h2 {
    margin-bottom: -10px;
}

.content .maintitle {
    margin-top: -10px;
    font-size: 230%;
}

.content hr {
    color: #DCDCDC;
}

.content .textbox {
    border: 2px solid #DCDCDC;
}

.content .textbox p {
    margin-top: 0px;
}

.content .codeblock {
    margin: auto;
    border: 2px solid #DCDCDC;
}
.content .inline-div{
    display: flex;
}
.content .inline-div div{
    border: 2px solid #DCDCDC;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}
.content .inline-div #older{
    border-color: skyblue;
}

.about {
    grid-area: ab;
    background-color: #DCDCDC;
}

.about p {
    font-size: larger;
}

.archives {
    grid-area: ar;
}

.elsewhere {
    grid-area: els;
}

@media screen and (max-width: 1000px){
    .about{
        display: none;
    }

    .archives{
        display: none;
    }
    .elsewhere{
        display: none;
    }
}



footer {
    background-color: #DCDCDC;
    text-align: center;
}